.watch-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    padding: 2rem 0.5rem 1rem;

    &__title {
        color: white;
    }
}

.logo {
    height: 3rem;
}