@use "../../styles/global.scss" as *;
@use "../../styles/partials/utilities.scss" as *;

.article {
	margin: 7% 5%;
	border-radius: 0.3rem;
	border: 1px solid gray;
	background-color: $DarkGray;

	&__container {
		padding: 3%;
	}

	&__title {
		color: $White;
		font-size: 1rem;
		font-weight: 600;
		padding: 2% 0;
	}

	&__author {
		color: $LightGray;
		font-size: 12px;
		font-weight: 500;
		padding: 1% 0;
	}

	&__context {
		color: $LightGray;
		font-size: 0.9rem;
		font-weight: 500;
		padding: 2% 0;
	}

	&__img {
		width: 100%;
	}
}
