@use "../../styles/global.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/utilities.scss" as *;

.header{
    position: sticky;
    bottom: 0rem;
    width: 100%;
    margin: 0rem;
    background-color: black;
}