@use "../../styles/partials/utilities.scss" as *;

.live-chat {
    padding: 0.25rem 1rem;

    &__title {
        color: $White;
        font-size: 1.3rem;
        letter-spacing: 0.8px;
    }

    &__image {
        margin-top: 1rem;
    }
}
