.comment-cta {
    display: flex;
    padding: 1rem;

    &__button {
        background-color: orange;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 2px;
    }

    &__icons {
        margin-left: auto;
    }

    &__like {
        margin-right: 0.5rem;
    }
}
